copilot/

.smart-env/

.obsidian/workspace.json
.obsidian/workspace-mobile.json

.obsidian/plugins/
.obsidian/icons/

Thumbs.db
ehthumbs.db

.DS_Store
.AppleDouble
.LSOverride

*.bak
*~

.trash/

.sync/
.stfolder/
.stignore
